<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABC Mutual Funds</title>
  <link rel="stylesheet" href="/css/homePage.css"> <!-- Link to your CSS file -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js library -->
</head>
<body>
  <div class="topbar"><br>
    <div class="login-buttons">
      <a href="/pmLogin">Portfolio Manager Login</a>
      <a href="/investorLogin">Investor Login</a>
    </div>
  </div>
  <div class="transbox">
    <br>
    <h2>ABC MUTUALFUNDS</h2>
    <h4>Welcome</h4>
    <p>Investing for your financial goals comes with a lot of decisions, including what mutual funds to invest in. Our team of experience portfolio managers strive to deliver competitive performance at low cost--over 90% of our funds for individual investors have expense ratios below their peer category averages--so more of your money can go to work for you.</p>
    <br>
  </div>
  <script src="script.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>