<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     <form action="/CreateMf1">
          <input type="text" name="mf_id"><br>
          <input type="text" name="name_of_mf"><br>
          <input type="text" name="entry_load"><br>
          <input type="text" name="exit_load"><br>
          <input type="text" name="expense_ratio"><br>
          <input type="text" name="balance_cash"><br>
          <input type="text" name="nav"><br>
          <input type="text" name="total_corpus"><br>
          <input type="text" name="created_by"><br>
          <input type="text" name="modified_by"><br>
         <input type="submit"><br> 
         
         
      </form>
</body>
</html>